$mycolor: #5ACAD5;
%message {
    font-weight: bold;
}

.navbar
{
    background-color: #4A4A4A;
    border-bottom: 5px solid $mycolor;
}
#logopart1
{
    color: $mycolor;
    font-size: 27px;
}
#logopart2
{
    @extend %message;
    font-size: 32px;
}
.container
{
    background-color: #EDECEA;
    margin-top: 20px;
}
.tech>p,.sports>p
{
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
p::before
{
  content: "- ";
}
.card-text
{
  font-size: 20px;
}
.card:hover
{
  border: 4px solid $mycolor;
}
.view img
{
  max-height:35vw;
}
.mycarousel
{
  width: 100%;
  margin: 0px auto;
}
.carousel-caption {
    position: absolute;
    top: 20%;
}
.h3-responsive
{
    font-size: 10px;
}
.horoscope
{
    h1{
        font-weight: bold;
    }
}
th,td
{
  border: 4px solid $mycolor;
  text-align: center;
  background-color: white;
}
table
{
  margin-bottom: 40px;
}
@media (min-width:320px) {
  .h3-responsive{
    font-size: 14px;
  }
  
}
@media (min-width:480px) {
  .h3-responsive{
    font-size: 16px;
  }
  .mycarousel
  {
    width: 75%;
  }
}

@media (min-width:720px) {
  .h3-responsive{
    font-size: 22px;
  }

}
@media (min-width:1080px) {
  .h3-responsive{
    /* Never get larger than this */
    font-size: 28px;
  }
}